--- Arduino Libraries ---
ArduinoHttpClient 0.4.0
PubSubClient 2.8.0
ArduinoJson 6.17.2
Firebase ESP32 Client 3.8.9


"token": "ems3isZ2Q7i11t6FxwHttR:APA91bGE_P9BFyVqc5mkJrNo90DFNZmdzGj_yKyRucoAo-OeCh5H8MIxW3y-Pk1vrFY1Ecaj28d0O6J4ne5A8j_DR-tSWpzFJM5UGj0ZN5OgcfRUCCYDZbcu1rclWg5r8GmtGCZavjNv"
ffGN2qXxSFmb-lAHQ3tUNM:APA91bHEdtQ9m8b9Rp0TIyn71oAK7-5IesjNxUWVvpxbYzrm1A7Utp21hvj0ogOAEP7e15Sog9Kqb5qjbLadFrpqYAPCxW49cJ9kgmAVlhMX0qNLgVl4I5OjGSlTlRCgrzN9lr8EJyBG
ffGN2qXxSFmb-lAHQ3tUNM:APA91bHEdtQ9m8b9Rp0TIyn71oAK7-5IesjNxUWVvpxbYzrm1A7Utp21hvj0ogOAEP7e15Sog9Kqb5qjbLadFrpqYAPCxW49cJ9kgmAVlhMX0qNLgVl4I5OjGSlTlRCgrzN9lr8EJyBG
